<!-- アイデア掲示板表示用　チームメンバー担当 -->
<!DOCTYPE html>
<html lang="ja">
​
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.main.css">
  <link rel="stylesheet" href="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.header.ver2.css">
  <link rel="stylesheet" href="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.card.css">
  <link rel="stylesheet" href="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.footer.css">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
  <link rel="stylesheet" href="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.modaal.css">
  <title>denlabo</title>
</head>
​
<body>
  <header>
    <nav class="pc-nav">
      <div class="gnav">
        <div class="oneBox f-01">
          <div class="logo"><a href="/home"><img
                src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/logo-denlabo-transparent.png"></a>
          </div>
        </div>
        <div class="oneBox f-02"><a href="column.html"><img src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/icon-column.svg"
              alt="コラム">
            <div>コラム</div>
          </a></div>
        <div class="oneBox f-03"><a href="idea.html"><img src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/icon-idea.svg"
              alt="アイデア">
            <div>アイデア</div>
          </a></div>
        <div class="oneBox f-04"><a href="https://denlab.base.shop/"><img src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/icon-product.svg" alt="商品化">
            <div>商品化</div>
          </a></div>
        <div class="oneBox f-05">
          <h4 class="mypage"><a href="/new_column_post.html">コラム投稿</a></h4>
          <h4 class="mypage"><a href="/new_idea_post.html">アイデア投稿</a></h4>
        </div>
      </div>
    </nav>
  </header>
​
<!-- アイデア中身　-->
<h1>タイトル ~ エコバック ~</h1>
<h2>投稿者 : momo</h2>
<h2>紙のお洒落さ、軽さを活かしたエコバック。最近、ゴミ袋が有料化されて、エコバックをよく使いますが、あんまりかわいくないんです。。そこで、和紙を使ったお洒落でかつ機能性も高いエコバックをつくっていただきたいです！ちょっとだけ出かけるときも、もっていけば様になるバックだと思います。</h2>
<img src="" >
<img src="" >

  ​
  <div id="innerScript"></div>
​
  <footer>
    <h3>denlobo</h3>
    <div class="footerList">
      <div><a href="/home">ホーム</a></div>
      <div><a
          href="https://docs.google.com/forms/d/e/1FAIpQLSf_VKM1slFchryKS_UGxZD4q4TwhvwEWQUGDClLKt3DgndusQ/viewform?usp=sf_link">お問い合わせ</a>
      </div>
    </div>
  </footer>
​
​
​
​
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script type="text/javascript" src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.card.js">
  </script>
  <script type="text/javascript" src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.idea.query.js">
  </script>
  <script type="text/javascript" src="https://redcat-denlabo.s3.ap-northeast-1.amazonaws.com/tornado6-1.idea.js">
  </script>
</body>
​
</html>