header {
  /*background-color: #fff;*/
  margin: 0 calc(50% - 50vw);
  display: flex;
  align-items: center;
}

.pc-nav {
  width: 100vw;
}

.gnav {
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
}

.oneBox {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;*/
}

.oneBox a {
  /*display: block;*/
  font-size: x-large;
}

.oneBox a img {
  width: 40px;
}

.f-01 {
  background: #DFD7CB;
  flex: 3;
}

.f-02, .f-03, .f-04, .f-05{
  flex: 1;
}

.logo a img {
  max-width: 100%;
  height: auto;
  width
  /***/
  : auto;
  /*background: #eee;*/
  /*padding: 10px 20px;*/
  display: inline-block;
}