.slider {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.slider img {
  height: auto;
  width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

/*-----------height調整----------*/
.slick-slide {
  height: auto !important;
}

/*-----------矢印表示----------*/
.slick-next {
  right: 5%!important;/*矢印の位置調整*/
}

.slick-prev {
  left: 5%!important;/*矢印の位置調整*/
}

.slick-arrow {
  z-index: 2 !important;
  width: 60px !important;
  height: 60px !important;
}

.slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity:1!important;
}

.slick-next:before {
  background: url(../images/icon-arrow-right.svg) !important;
  background-size: contain !important;
}

.slick-prev:before {
  background: url(../images/icon-arrow-left.svg) !important;
  background-size: contain !important;
}

/*------------------------------*/



/* codepen */
/*https://codepen.io/125naroom/pen/RwbOMdN*/
/*====================================================================
slick
====================================================================*/

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.sliderArea.w300 {
  max-width: 300px;
}

.slick-slide {
  margin: 0 5px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.thumb {
  margin: 20px 0 0;
}

.thumb .slick-slide {
  cursor: pointer;
}

.thumb .slick-slide:hover {
  opacity: .7;
}

/*====================================================================
以下は不要です。
====================================================================*/
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  letter-spacing: .025em;
  line-height: 1.8;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

.section {
  /*max-width: 700px;*/
  /*min-height: 100vh;*/
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 0;
}

.section p._a {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 0 0;
}

.section p._a .link {
  display: inline-block;
  color: #607D8B;
  padding-left: 1.3em;
  text-indent: -1.3em;
}

.section p._a .link:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #607D8B;
  border-right: 2px solid #607D8B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 10px;
}

/* /codepen */