footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3%;
}

footer h3{
  font-size: xx-large;
}

.footerList{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footerList div{
  font-size: large;
}
