
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/tornado6-1.main.css">
  <!--<link rel="stylesheet" href="css/tornado6-1.header.css">-->
  <link rel="stylesheet" href="./css/tornado6-1.header.ver2.css">
  <link rel="stylesheet" href="./css/tornado6-1.card.css">
  <link rel="stylesheet" href="./css/tornado6-1.footer.css">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="pc-nav">
      <div class="gnav">
        <div class="oneBox f-01">
          <div class="logo"><a href="https://denlab.herokuapp.com"><img src="./images/logo-denlabo-transparent.png"></a></div>
        </div>
        <div class="oneBox f-02"><a href="https://denlab.herokuapp.com/column"><img src="images/icon-column.svg"
              alt="コラム">
            <div>コラム</div>
          </a></div>
        <div class="oneBox f-03"><a href="https://denlab.herokuapp.com/idea"><img src="images/icon-idea.svg" alt="アイデア">
            <div>アイデア</div>
          </a></div>
        <div class="oneBox f-04"><a href="https://denlab.base.shop/"><img src="images/icon-product.svg" alt="商品化">
            <div>商品化</div>
          </a></div>
        <div class="oneBox f-05">
          <h1 class="mypage"><a href="#">ログイン</a></h1>
        </div>
      </div>
    </nav>
  </header>

  <!-- メインコンテンツ表示制御用クラス"container" -->
  <div class="container">

    <!-- ここにカードデザインを作成する -->
    <div id="cardlayout-wrap"></div>

  </div>

  <div id="innerScript"></div>
  <!--
  <script>
    //初期表示は非表示
    document.getElementById("p1").style.display = "none";

    function clickBtn1() {
      const p1 = document.getElementById("p1");

      if (p1.style.display == "block") {
        // noneで非表示
        p1.style.display = "none";
      } else {
        // blockで表示
        p1.style.display = "block";
      }
    }
  </script>
  -->

  <footer>
    <h3><a href="https://denlab.herokuapp.com">denlobo</a></h3>
    <div class="footerList">
      <div><a href="https://denlab.herokuapp.com">ホーム</a></div>
      <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSf_VKM1slFchryKS_UGxZD4q4TwhvwEWQUGDClLKt3DgndusQ/viewform?usp=sf_link">お問い合わせ</a></div>
    </div>
  </footer>




  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  <script type="text/javascript" src="./js/tornado6-1.query.js"></script>
  <script type="text/javascript" src="./js/tornado6-1.card.js"></script>
  <!--<script type="text/javascript" src="/js/torunado6-1.addUrlParam.js"></script>-->
  <script>
    //初期表示は非表示
    document.getElementById("hide100").style.display = "none";

    function clickBtn100() {
      const p1 = document.getElementById("hide100");

      if (p1.style.display == "block") {
        // noneで非表示
        p1.style.display = "none";
      } else {
        // blockで表示
        p1.style.display = "block";
      }
    }
  </script>
</body>

</html>
